@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400;1,700&display=swap');

:root{

    color: black;

}


body{
    font-family: 'Noto Serif', serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;

}

.center-container{

    max-width: 600px;

    margin: auto;
}

/**Links**/

.link{
    text-decoration-line: none;
    padding: 0.5rem 1rem;
    background-color: antiquewhite;

}

.link-primary
{

    color: red;

    padding: 0.5rem 1rem;
    background-color: antiquewhite;
    border-radius:0.5rem ;
    border:1px salmon;

}

.link-secondary

{

    color: red;

    padding: 0.5rem 1rem;
    background-color: antiquewhite;
    border-radius:0.5rem ;
    border: 1px salmon;

}

