@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,400;1,700&display=swap');

body{
    font-family: 'Noto Serif', serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;

}

.center-container{

    max-width: 600px;

    margin: auto;
}

